<div class="container">

    <div class="row justify-content-center">
  
      <div class="col-5"> 
        <a href="#">
          <div class="card bg-light mb-3" style="border-color:#7000B2;">
            <img src="assets/img/botao1final.png" />
          </div>
        </a>
      </div>
  
      <div class="col-5">
        <a href="#">
          <div class="card bg-light mb-3" style="
          border-color:#7000B2;">
            <img src="assets/img/botao2final.png" />
          </div>
        </a>
      </div>
  
    </div>

</div>