<div class="container">
   
  <div class="justify-content-center font-standard">
    <div class="row justify-content-center"><h3>Ao abrir a porta, uma voz suave e aconchegante enche a sala.</h3></div>
    <div class="row justify-content-center"><h3>Ela então pergunta:</h3></div>
    <div class="row justify-content-center font-hand"><h1>O que procuras em meus aposentos?</h1></div>
  </div>
  <div style="padding-top: 2rem;"></div>
    <div class="row justify-content-center">
      <div class="col-4"> 
        <a href="#">
          <div class="card bg-light mb-3" style="border-color:#7000B2;">
            <img src="assets/img/botao1final.png" />
          </div>
        </a>
      </div>
  
      <div class="col-4">
        <a [routerLink]="['/menu-aventureiro']">
          <div class="card bg-light mb-3" style="
          border-color:#7000B2;">
            <img src="assets/img/botao2final.png" />
          </div>
        </a>
      </div>
  
    </div>

</div>