<div class="index-content">
    <div class="container">
      <div class="row">
          <div class="col-lg-3">    
              <a href="#">                
                <div class="card">
                  <img class="img-responsive" src="http://cevirdikce.com/proje/hasem-2/images/finance-1.jpg">
                    <h4>Investment Strategy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="purple-button">Read More</a>
                </div>
              </a>
          </div>
      </div>
    </div>
</div>
