<div class="row justify-content-center">
    <div class="col-xs-12 font-hand">
      <div class="">
          <h4 class="row mt-4 font-standard justify-content-center">Ao se aproximar da mesa, pode-se ver um livro aberto que parece listar locais de encontro</h4>
          <h4 class="row font-standard justify-content-center">dos aventureiros que passaram por aqui.</h4>
      </div>
    </div>
</div>
<div class="index-content">
    <div *ngFor="let mesa of mesas" class="container">
        <app-mesa [mesa]="mesa"></app-mesa>
    </div>
</div>
