   <section class="content">

      <div class="row justify-content-center">
          <div class="col-xs-12 font-hand">
            <div class="">
                <h2 class="row justify-content-center">Hummm, um aventureiro! Seja muito bem vindo. Adoro quando me visitam.</h2>
                <h2 class="row justify-content-center">Tudo que procura está naquela mesa, pode olhar.</h2>
                <h4 class="row mt-4 font-standard justify-content-center">A voz continua vindo de todos os lugares, mesmo aparentando não ter alguém.</h4>            
            </div>
          </div>
      </div>
          <!-- /.col-xs-12 -->
          <div></div>
      <div class="mt-4 mb-4 container font-standard">
          <div class="row">
          <div class="col">
            <button class="col btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Err... Quem é você?
            </button>
          </div>

          <div class="col">
              <a class="col btn btn-dark" href="#" role="button">
                  Investigar a mesa
              </a>
          </div>      

          </div>

              <div class="mt-4 collapse" id="collapseExample">
                <div class="font-hand">
                  <h2 class="row justify-content-center">Ohh, me desculpe. Sempre esqueço de falar e as pessoas ficam confusas quando</h2>
                  <h2 class="row justify-content-center">aparecem por aqui.</h2>
                  <h2 class="row justify-content-center">Eu sou a Casa dos Encontros</h2>
                  <h2 class="row justify-content-center">As pessoas vêm até mim buscando grupos para novas aventuras</h2>
                <div class="font-standard">
                  <h4 class="row mt-4 justify-content-center">A casa fala num tom macio e acolhedor. Você percebe o som saindo de suas paredes e agora entende</h4>
                  <h4 class="row justify-content-center">como conseguia envolver todo o ambiente</h4>
                </div>
                  <h2 class="row mt-4 justify-content-center">Por que não dá uma olhada no livro de registros?</h2>
                  <h2 class="row justify-content-center">Talvez você encontre o que está procurando</h2>
                  </div>
                  <div class="col">
                      <a class="col btn btn-dark" href="#" role="button">
                        investigar os livros
                      </a>
                    </div>
                </div>
      </div>
    </section>
    <!-- FIM DO CONTEÚDO -->
